<app-header />
<div class="grid grid-cols-[1fr_5fr] h-[calc(100dvh-4rem)]">
  <app-sidebar />
  <div class="overflow-y-auto py-4 px-8">
    <h1 class="text-xl font-bold">Dashboard</h1>
    <h2 class="mb-4">
      Visualizza e comprendi le tue abitudini e tendenze finanziarie in base
      alle tue entrate e uscite
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <app-expenses-breakdown />

      <app-monthly-balance />

      <app-monthly-stacked-chart />

      <app-trending-line-chart />
    </div>
  </div>
</div>
