@let list = $list(); @let expensiveTime = $expensiveTime();

<div class="flex justify-evenly items-center pb-4">
  <p-button
    [label]="(expensiveTime.prev | date : 'MMMM')!"
    [rounded]="true"
    icon="pi pi-arrow-left"
    (click)="onPrev($event)"
  />
  <span class="text-xl">{{ expensiveTime.current | date : "MMMM YYYY" }}</span>
  <p-button
    [label]="(expensiveTime.next | date : 'MMMM')!"
    [rounded]="true"
    icon="pi pi-arrow-right"
    (click)="onNext($event)"
  />
</div>
<div class="flex flex-col gap-2">
  @if(list.length === 0) {
  <span class="text-center">Nessun Transazione</span>
  } @for(expense of list; track expense) {
  <p-card>
    <div class="flex items-center">
      <div class="flex flex-col flex-1/2 gap-2">
        <div class="font-semibold text-lg">{{ expense.description }}</div>
        <div class="text-sm">
          {{ expense.dateTransaction | date : "short" }}
        </div>
        <p-chip
          [label]="expense.category.name"
          styleClass="w-fit font-medium text-sm px-2 py-0 bg-green-500"
        />
      </div>
      <div class="flex flex-col flex-1/2">
        <div class="text-right text-2xl font-semibold">
          {{ expense.amount | currency : "EUR" }}
        </div>
      </div>
    </div>
  </p-card>
  }
</div>
