@let categoryList = $categoryList(); @let expensiveList = $expensiveList();

<form [formGroup]="form" class="pt-6">
  <div class="flex flex-col gap-4">
    <div class="flex gap-2">
      <div class="flex flex-col gap-2 flex-1/2">
        <label for="description">Description</label>
        <input
          pInputText
          id="description"
          formControlName="description"
          autocomplete="off"
        />
      </div>
      <div class="flex flex-col gap-2 flex-1/2">
        <label for="amount">Amount</label>
        <p-inputnumber
          formControlName="amount"
          inputId="amount"
          mode="currency"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
          currency="EUR"
          locale="it-IT"
        />
      </div>
    </div>
    <div class="flex">
      <p-selectbutton
        [options]="expensiveList"
        formControlName="typeExpensive"
        optionLabel="label"
        optionValue="value"
      />
    </div>
    <div class="flex">
      <div class="flex flex-col gap-2 flex-1/2">
        <label for="category">Category</label>
        <p-select
          [options]="categoryList"
          optionLabel="label"
          optionValue="value"
          formControlName="category"
          optionLabel="label"
          placeholder="Seleziona categoria di spesa"
          appendTo="body"
        />
      </div>
    </div>
    <div class="flex gap-2">
      <div class="flex flex-col gap-2 flex-1/2">
        <label for="date">Date</label>
        <p-datepicker formControlName="date" appendTo="body" inputId="date" />
      </div>

      <div class="flex flex-col gap-2 flex-1/2">
        <label for="user">Pagato da</label>
        <input
          pInputText
          id="user"
          formControlName="userId"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="flex justify-end">
      <p-button label="Save" (click)="submit()" [disabled]="!form.valid" />
    </div>
  </div>
</form>
